@charset "UTF-8";

/*
   em HTML é id    = em CSS é # (só pode um elemento)
   em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: rgb(204, 241, 233);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(153, 122, 85);
}

#principal{
    text-align: center;
    background-color: rgb(153, 122, 85);
    color: white;
}

h2{
    color: rgb(108, 100, 92);
}

.basico{
    color: rgb(155, 142, 129);
    
}

.intermediario{
    color: rgb(66, 152, 47);
}

.avancado{
    color: rgb(143, 42, 42);
}

.destaque{
    background-color: rgba(255, 255, 0, 0.491)
}